# Eclipse stuff
/.classpath
/.project
/.settings

# various other potential build files
/build
/bin
/dist
/*.jardesc

# Our local repo and files
/notes
notes.txt

# Mac filesystem dust
.DS_Store
/target
.idea
*.iml

bin/
classes/
src/main/generated-sources/
test.tmp/
tmp/
target/
.gradle/
gradle/
junit/
TEST-*
**/out-dir/
*.*~
*.asc
examples/JJTreeExamples/cpp/eg*/
